ServicoSOAP/WebContent/wsdl/Servico.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://servico" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://servico" xmlns:intf="http://servico" xmlns:tns1="http://model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://servico" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model"/>
   <element name="inserirDisciplina">
    <complexType>
     <sequence>
      <element name="disciplina" type="tns1:Disciplina"/>
     </sequence>
    </complexType>
   </element>
   <element name="inserirDisciplinaResponse">
    <complexType/>
   </element>
   <element name="listarDisciplina">
    <complexType/>
   </element>
   <element name="listarDisciplinaResponse">
    <complexType>
     <sequence>
      <element name="listarDisciplinaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Disciplina">
    <sequence>
     <element name="nome" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="inserirDisciplinaRequest">

      <wsdl:part element="impl:inserirDisciplina" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listarDisciplinaResponse">

      <wsdl:part element="impl:listarDisciplinaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="inserirDisciplinaResponse">

      <wsdl:part element="impl:inserirDisciplinaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listarDisciplinaRequest">

      <wsdl:part element="impl:listarDisciplina" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Servico">

      <wsdl:operation name="inserirDisciplina">

         <wsdl:input message="impl:inserirDisciplinaRequest" name="inserirDisciplinaRequest">

       </wsdl:input>

         <wsdl:output message="impl:inserirDisciplinaResponse" name="inserirDisciplinaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listarDisciplina">

         <wsdl:input message="impl:listarDisciplinaRequest" name="listarDisciplinaRequest">

       </wsdl:input>

         <wsdl:output message="impl:listarDisciplinaResponse" name="listarDisciplinaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServicoSoapBinding" type="impl:Servico">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="inserirDisciplina">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="inserirDisciplinaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="inserirDisciplinaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listarDisciplina">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listarDisciplinaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listarDisciplinaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServicoService">

      <wsdl:port binding="impl:ServicoSoapBinding" name="Servico">

         <wsdlsoap:address location="http://tempuri.org/disciplinas/services/Servico"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
